<!-- <div class="new-box">
	<div class="header">
		<h5>{{title}}</h5>
		<div style="justify-content: space-between;">
			<button mat-raised-button primary (click)="onBack()" *ngIf="showBackButton">
				<mat-icon aria-hidden="false" aria-label="Example home icon">
					keyboard_backspace
				</mat-icon>
				Atrás
			</button>
			<ng-container ktPortletTools>
				<button (click)="onCreate()" *ngIf="showCreateButton" class="mb-2" mat-raised-button color="primary"
					matTooltip="Crear nuevo">Nuevo/a </button>
			</ng-container>

			<button mat-raised-button primary (click)="onReset()" *ngIf="showResetButton">
				<mat-icon aria-hidden="false" aria-label="Example home icon">
					settings
				</mat-icon>
				Reset
			</button>
			<button mat-raised-button color="primary" (click)="onSave()" *ngIf="showSaveButton">Guardar</button>
		</div>
	</div>
	<div class="line">
		
			<ng-content>
			</ng-content>
		
	</div>
</div> -->