<sys-base-form title='{{title}}' [showBackButton]="true" [showResetButton]="false" [showSaveButton]="true"
    [showCreateButton]="false" (back)="onBack()" (reset)="onReset()" (save)="onSave()">

    <form [formGroup]="form" class="kt-form kt-form--group-seperator-dashed">
        <kt-alert *ngIf="hasFormErrors" type="accent" [showCloseButton]="true" [duration]="10000"
            (close)="onAlertClose($event)">
            Alerta Algunos campos son Necesarios para continuar
        </kt-alert>
        <div class="kt-form__section kt-form__section--first">
            <div class="form-group kt-form__group row">
                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput placeholder="Primer Nombre" formControlName="nombre1" />
                    </mat-form-field>
                </div>
                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput placeholder="segundo nombre" formControlName="nombre2" />
                    </mat-form-field>
                </div>


                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput placeholder="primer apellido" formControlName="apellido1" />
                        <mat-error>Apellido
                            <strong>required</strong>
                        </mat-error>
                        <mat-hint align="start">
                            <strong>Apellido</strong>
                        </mat-hint>
                    </mat-form-field>
                </div>

            </div>
            <div class="form-group kt-form__group row">
                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput placeholder="segundo Apellido" formControlName="apellido2" />
                        <mat-error>Apellido
                            <strong>required</strong>
                        </mat-error>
                        <mat-hint align="start">
                            <strong>Apellido</strong>
                        </mat-hint>
                    </mat-form-field>
                </div>

                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput placeholder="cedula o rnc" formControlName="cedulaRnc" />
                        <mat-error>Cedula
                            <strong>required</strong>
                        </mat-error>
                        <mat-hint align="start">
                            <strong>Cedula</strong>
                        </mat-hint>
                    </mat-form-field>
                </div>

                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput placeholder="email" formControlName="email" />
                        <mat-error>Email
                            <strong>required</strong>
                        </mat-error>
                        <mat-hint align="start">
                            <strong>Email</strong>
                        </mat-hint>
                    </mat-form-field>
                </div>
            </div>

            <div class="form-group kt-form__group row">
                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <mat-select placeholder="Proyectos" formControlName="proyecto">
                            <mat-option *ngFor="let item of proyectos$ " value= "{{item.id}}">{{item.descripcion}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput placeholder="Telefono" formControlName="telefono" />
                        <mat-error>Telefono
                            <strong>required</strong>
                        </mat-error>
                        <mat-hint align="start">
                            <strong>Telefono</strong>
                        </mat-hint>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </form>
</sys-base-form>