<sys-base-form title='{{title}}' [showBackButton]="false" [showResetButton]="false" [showSaveButton]="false"
    [showCreateButton]="true" (create)="onCreate()">
    <div class="kt-form__filtration">
        <div class="row align-items-center  kt-margin-top-20 kt-margin-bottom-20">
            <div class="col-md-2 kt-margin-bottom-10-mobile">
                <mat-form-field class="mat-form-field-fluid">
                    <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Buscar" />
                    <mat-hint align="start">
                        <strong>buscar</strong> por todos los campos
                    </mat-hint>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="mat-table__wrapper mt-5">
        <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource" matSort #sort="matSort" matSortActive="id"
            matSortDirection="asc" matSortDisableClear>

            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                <mat-cell *matCellDef="let tareas">{{tareas.id}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="titulo">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Titulo</mat-header-cell>
                <mat-cell *matCellDef="let tareas">{{tareas.titulo}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="usuario">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Usuario</mat-header-cell>
                <mat-cell *matCellDef="let tareas">{{tareas.usuario}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="proyecto">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Proyecto</mat-header-cell>
                <mat-cell *matCellDef="let tareas">{{tareas.proyecto}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="estado">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
                <mat-cell *matCellDef="let tareas">{{tareas.estado }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="fecha">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha </mat-header-cell>
                <mat-cell *matCellDef="let tareas">{{tareas.fecha | date : 'MMM d, y'}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="comentario">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
                <mat-cell *matCellDef="let tareas">{{tareas.comentario }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                <mat-cell *matCellDef="let tareas">
                    <button (click)="viewDetaiRequest(tareas.id)" mat-icon-button color="primary"
                        matTooltip="Editar tareas">
                        <mat-icon>create</mat-icon>
                    </button>&nbsp;
                    <button mat-icon-button color="warn" matTooltip="Eliminar tareas" type="button"
                        (click)="deleteTareas(tareas)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <mat-icon matTooltip="Configuraciones"
                        aria-label="Button that displays a tooltip when focused or hovered over"
                        class="example-tab-icon" [matMenuTriggerFor]="menu">more_vert
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item type="button">Configuraciones
                            </button>
                        </mat-menu>
                    </mat-icon>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
</sys-base-form>